/* -------------- BASE ------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 36pt;
}

/* --------------- LAYOUT -------------- */

.l-landing {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.l-nav {
  background-color: #666666;
  position: sticky;
  text-align: center;
  top: 0;
}

/* --------------- MODULES -------------- */

.m-house {
  height: calc(150px + 15vw);
}

.m-form {
  text-align: center;
}

.m-btn-circle {
  border: 4px solid #171717;
  border-radius: 50%;
  font-size: calc(10px + 1vw);
  height: calc(20px + 5vw);
  width: calc(20px + 5vw);
  margin: 3rem auto 0;
}

.m-btn {
  border: 4px solid #171717;
  border-radius: 5px;
  display: block;
  height: calc(20px + 2.5vw / 1);
  text-align: center;
  width: calc(80px + 15vw);
}

.colour-1 {
  grid-area: one;
  position: relative;
}

.colour-2 {
  grid-area: two;
}

.colour-3 {
  grid-area: three;
}

.colour-4 {
  grid-area: four;
}

/* --------------- STATES -------------- */

.m-btn:hover {
  anim
}

.m-btn-circle:hover {
  background-color: #171717;
  border: 4px solid #fff;
  color: white;
}

